# Ignore everything
**

# Allow files and directories
!/src
!/Setup.hs
!/stack.yaml
!/stack.yaml.lock
!/notepad.cabal
!/cache/stack_dependencies_cache.tar.gz.tar
# Avoid failures in docker image builder when cache is clean - copy at least this empty file
!/cache/.gitkeep

# Ignore unnecessary files inside allowed directories
**/.DS_Store
**/Thumbs.db